.page-product-table {
    background-color: #1289ea;
    padding: 3rem 0;
}

.product-table {
    margin-top: 3rem;

    &__row {
        display: flex;
        transform: translateX(-5px);
    }

    &__row:not(:first-child) {
        margin-top: 10px;
    }

    &__item {
        text-align: center;
        display: flex;
        width: 100%;
        flex-direction: column;
        background-color: #fff;
        margin-left: 10px;
        padding: 1rem 0;
        border-radius: 8px;
    }

    &__icon {
        width: 80px;
        height: 80px;
        align-self: center;
        object-fit: contain;
    }

    &__span {
        margin-top: 0.75rem;
    }
}

@media(max-width:768px) {
    .product-table {
        &__icon {
            width: 50px;
            height: 50px;
        }
    }
}

@media(max-width:550px) {
    .product-table {
        &__row {
            transform: translateX(-2.5px);
        }

    &__row:not(:first-child) {
        margin-top: 2.5px;
    }

        &__item {
            margin-left: 2.5px;
        }

        &__icon {
            width: 40px;
            height: 40px;
        }
    }
}

@media(max-width:375px) {
    .product-table {
        &__item {
            font-size: 0.9rem;
        }
    }
}